body {
  margin-top: 40px;
}

text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

rect {
  shape-rendering: crispEdges;
}

.animated {
  will-change: contents;
}

.key-white {
  stroke: black;
  fill: white;
}
.key-white.depressed {
  fill: lightcyan;
}
.key-black {
  stroke: black;
  fill: black;
}
.key-black.depressed {
  fill: darkslategray;
}
